
        <div class="publish_wrap">
        	<div class="meet_tip">
            	<p>若课程采用混合式教学，请添加见面课课程设计</p>
                <p>若课程知识在线视频教学，可以跳过本步骤<a href="#">跳过进入下一步</a></p>
            </div>
            <a class="create_btn" href="javascript:;">创建见面课</a>
            <table class="meet_table">
            	<tr>
                	<th width="10"></th>
                    <th width="340">主题</th>
                    <th width="100">任务类型</th>
                    <th width="150">教师</th>
                    <th width="60">学时</th>
                    <th width="220">建议授课章节</th>
                    <th width="60"></th>
                </tr>
                <tr>
                	<td></td>
                    <td>第一次面授课</td>
                    <td>网络面授</td>
                    <td>王小明，郭德</td>
                    <td>1</td>
                    <td>1.1 混合式课程的介绍</td>
                    <td>
                    	<p class="edit_box">
                        	<i class="icon_m delete_btn"></i>
                            <i class="icon_m edit_icon"></i>
                        </p>
                    </td>
                </tr>
                <tr>
                	<td></td>
                    <td>参观植物园</td>
                    <td>实践实验</td>
                    <td>——</td>
                    <td>1</td>
                    <td>——</td>
                    <td>
                    	<p class="edit_box">
                        	<i class="icon_m delete_btn"></i>
                            <i class="icon_m edit_icon"></i>
                        </p>
                    </td>
                </tr>
                <tr>
                	<td></td>
                    <td>小组讨论课</td>
                    <td>小组讨论</td>
                    <td>陈晨</td>
                    <td>1</td>
                    <td>4 国内外mooc的差别</td>
                    <td>
                    	<p class="edit_box">
                        	<i class="icon_m delete_btn"></i>
                            <i class="icon_m edit_icon"></i>
                        </p>
                    </td>
                </tr>
            </table>
            <div class="btn_box">
            	<a class="save" href="javascript:;">保存</a>
                <a class="keep" href="javascript:;">保存进入下一步</a>
            </div>
        </div>
