<style>
    .attach_box {
        border: 1px solid #d4d4d4;
        color: #333;
        display: block;
        height: 98px;
        line-height: 20px;
        margin-top: 30px;
        text-align: center;
        width: 198px;
    }

        .attach_box i {
            display: block;
            height: 30px;
            margin: 25px auto 0;
            width: 30px;
        }

        .attach_box .add {
            margin-top: 10px;
            font-size: 50px;
            font-weight: 900;
            font-style: normal;
            color: #374760;
        }

    .progress-bar {
        background-color: #428bca;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
        color: #fff;
        float: left;
        font-size: 12px;
        height: 100%;
        text-align: center;
        transition: width 0.6s ease 0s;
        width: 0;
    }
</style>
<div class="pop_wrap" style="height:200px;overflow-y:auto;width:377px;overflow-x:hidden;padding: 10px;">
    <div nv-file-drop="" uploader="iesUploader" url="uploadUrl" filters="customFilter,fileSize,fileSuffix" style="position:relative;">
        <input type="file" id="file" nv-file-select="" uploader="iesUploader" style="height:50px;width:100%;font-size:270px; position:absolute;z-index:999;filter:alpha(opacity=0);-moz-opacity:0; opacity:0;overflow:hidden;" />
        <a class="attach_box" onclick="$('#file').click()" style="height:50px;width:375px; margin-top:0;">
            <i class="add">+</i>
        </a>
        <div class="col-md-12" style="margin-top: 10px; width: 375px">
            <table class="table">
                <thead>
                    <tr>
                        <th width="60%">文件名</th>
                        <th ng-show="iesUploader.isHTML5">大小</th>
                        <th width="20%" ng-show="iesUploader.isHTML5">进度</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in iesUploader.queue">
                    <tr>
                        <td title="{{item.file.name}}">
                            <div style="owhite-space: nowrap; width:150px; text-overflow: ellipsis; overflow: hidden; height: 24px; line-height: 24px;">
                                <strong>{{ item.file.name }}</strong>
                            </div>
                        </td>
                        <td ng-show="iesUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="iesUploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                上传
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                取消
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                移除
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>