@{ 
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout3.cshtml";
}

<div class="create_box">
    <div class="create_item">
        <label>课程名称：</label>
        <input type="text" placeholder="请输入课程名称">
    </div>
    <div class="create_item">
        <label>课程分类：</label>
        <div class="create_item_r">
            <div class="type_box">
                <span>经济学&gt;金融学类<a href="javascript:;">x</a></span>
                <a class="select_btn" href="javascript:;"></a>
            </div>
            <ul class="type_list">
                <li>哲学</li>
                <li>
                    经济学<i class="icon_m arrow_icon"></i>
                    <ul>
                        <li>经济学类</li>
                        <li>财经学类</li>
                        <li>金融学类</li>
                        <li>经济与贸易类</li>
                        <li>商务学类</li>
                    </ul>
                </li>
                <li>法学</li>
                <li>教育学</li>
                <li>文学</li>
                <li>历史学</li>
                <li>管理学</li>
            </ul>
        </div>
    </div>
    <div class="create_item">
        <label>课程片花：</label>
        <div class="video_box">
            <img src="http://placehold.it/410x220/cccccc" width="410" height="220" alt="">
            <p><a href="javascript:;">上传视频/图片</a>（封面图片建议最大5M、建议尺寸410*220）</p>
        </div>
    </div>
    <div class="create_item">
        <label>课程简介：</label>
        <img src="../../Images/micro_editmodule.jpg" width="700" height="280" alt="">
    </div>
    <div class="create_item">
        <label>主讲人：</label>
        <div class="teacher_box">
            <div class="teacher_list">
                <div class="teacher_img">
                    <img src="http://placehold.it/120x120/cccccc" width="120" height="120" alt="">
                    <i class="icon_m edit_btn"></i>
                </div>
                <div class="teacher_detail">
                    <input type="text" value="李依依">
                    <textarea placeholder="请输入主讲人描述[少于500字]"></textarea>
                </div>
                <div class="operation_btn">
                    <a href="javascript:;"><i class="icon_m icon_add"></i></a>
                    <a href="javascript:;"><i class="icon_m icon_d"></i></a>
                </div>
            </div>
            <div class="teacher_list">
                <div class="teacher_img">
                    <img src="http://placehold.it/120x120/cccccc" width="120" height="120" alt="">
                    <i class="icon_m edit_btn"></i>
                </div>
                <div class="teacher_detail">
                    <input type="text" value="李依依">
                    <textarea placeholder="请输入主讲人描述[少于500字]"></textarea>
                </div>
                <div class="operation_btn">
                    <a href="javascript:;"><i class="icon_m icon_add"></i></a>
                    <a href="javascript:;"><i class="icon_m icon_d"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="create_item">
        <label>课程标签：</label>
        <div class="label_box">
            <p>
                <input type="text" placeholder="请输入标签名称">
                <a href="javascript:;"><i class="icon_m add_btn"></i></a>
            </p>
            <ul class="label_list">
                <li>我是标签页<a class="icon_m icon_round" href="javascript:;">x</a></li>
                <li>我是标签页<a class="icon_m icon_round" href="javascript:;">x</a></li>
                <li>我是标签页<a class="icon_m icon_round" href="javascript:;">x</a></li>
                <li>我是标签页<a class="icon_m icon_round" href="javascript:;">x</a></li>
            </ul>
        </div>
    </div>
    <div class="create_item">
        <label>课程目录：</label>
        <div class="item_wrap">
            <a class="upload_btn" href="javascript:;">上传课节视频</a>
            <div class="item_box">
                <span class="num">1</span>
                <div class="teacher_img teacher_img2">
                    <img src="http://placehold.it/205x110/cccccc" width="205" height="110" alt="">
                    <i class="icon_m edit_btn"></i>
                    <span class="micro_video_btn"></span>
                </div>
                <div class="teacher_detail teacher_detail2">
                    <input type="text" placeholder="请输入课节名称">
                    <textarea placeholder="请输入课节简介"></textarea>
                </div>
                <div class="operation_btn">
                    <a href="javascript:;"><i class="icon_m icon_d"></i></a>
                    <a href="javascript:;"><i class="icon_m icon_up"></i></a>
                    <a href="javascript:;"><i class="icon_m icon_down"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="create_item">
        <label>课程资料：</label>
        <div class="item_wrap">
            <a class="upload_btn" href="javascript:;">上传资料</a>
            <div class="file_box">
                <table class="file_table">
                    <tr>
                        <td width="320"><input type="checkbox">文件名</td>
                        <td width="90">创建人</td>
                        <td width="120">日期</td>
                        <td>
                            <select>
                                <option>请选择</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="file_name">
                                <input type="checkbox">
                                <i class="icon_24 doc"></i>
                                教学研究.doc
                            </p>
                        </td>
                        <td>李依依</td>
                        <td>2015-04-04</td>
                        <td>
                            <select>
                                <option>请选择</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="file_name">
                                <input type="checkbox">
                                <i class="icon_24 txt"></i>
                                教学研究.doc
                            </p>
                        </td>
                        <td>李依依</td>
                        <td>2015-04-04</td>
                        <td>
                            <select>
                                <option>请选择</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="create_item">
        <label>学习周期：</label>
        <p class="duration"><input type="text">天</p>
    </div>
    <div class="btn_box">
        <a class="save" href="javascript:;">保存</a>
        <a class="keep" href="javascript:;">保存进入下一步</a>
    </div>
</div>

