@charset "utf-8";
/* CSS Document */


.icon_m{ display:inline-block; width:16px; height:16px; background:url(../Images/micro_icon.png) no-repeat;}
/*课程主页*/
.micro_wrap{ padding:35px 0 20px; min-height:600px; background:#e4e4e4;}
.micro_index{ width:960px; margin:0 auto;}

.micro_tit{ padding:40px 20px; background:#fff; height:220px; position:relative;}
.micro_tit_l{ float:left; margin-right:20px; width:410px; height:220px; position:relative;}
.micro_tit_l img{ display:block;}
.micro_tit_l span{ display:block; width:80px; height:50px; background:url(../Images/micro_video_btn.png) no-repeat; position:absolute; top:50%; left:50%; margin:-25px 0 0 -40px;}
.micro_tit_r{ overflow:hidden; position:relative;}
.micro_tit_r h2{ font-size:26px; color:#333; line-height:30px;}
.micro_tit_r p{ margin-top:20px; color:#333; line-height:30px;}
.micro_tit_r p span{ display:block;}
.micro_learn_btn{ display:block; width:181px; height:70px; background:url(../Images/micro_learning_btn.png) no-repeat; position:absolute; left:790px; bottom:10px;}
.micro_learn_btn span{ display:block; width:181px; height:61px; font-size:24px; color:#fff; line-height:61px; text-align:center;}

.course_content{ margin-top:20px; overflow:hidden;}
.course_l{ float:left; width:680px; margin-right:20px; overflow:hidden;}
.course_section{ padding:20px; margin-bottom:10px; background:#fff; overflow:hidden;}
.course_header{ font-size:18px; color:#333;}
.course_brief{ font-size:16px; color:#333; line-height:25px; margin:5px 0 20px;}
.catalog_box{ overflow:hidden; position:relative;}
.vertical_line{ width:1px; position:absolute; top:30px; left:78px; background:#ccc;}
.catalog_list{ overflow:hidden;}
.catalog_list li{ margin-top:15px; height:30px; line-height:30px; overflow:hidden; position:relative;  padding:0 10px; cursor:pointer;}
.catalog_list li:hover,.catalog_list li.active{ background:#eee;}
.catalog_list li.active .icon_video{ background-position:0 -16px;}
.chapter_name{ float:left; height:30px; font-size:16px; color:#333; width:60px;}
.catalog_list li i{ float:left; margin:7px 15px 0 0;}
.icon_video{ background-position:0 0;}
.video_time{ float:right; margin-left:10px; font-size:16px; color:#666;}
.catalog_list li p{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:16px; color:#333;}
.course_list{ margin-left:-12px;overflow:hidden;}
.course_list li{ float:left; width:205px; margin:15px 0 0 12px;}
.course_list li img{ display:block;}
.course_list li p{ color:#333; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.course_r{ overflow:hidden;}
.teacher_info{ margin-top:10px;}
.teacher_info img{ display:block; width:80px; margin:0 auto; border-radius:50%;}
.teacher_info b{ display:block; margin-top:10px; text-align:center; font-size:16px; color:#333;}
.teacher_info p{ margin-top:15px; font-size:16px; color:#333;}
.people_list{ margin:10px 0 0 -8px; overflow:hidden;}
.people_list li{ float:left; width:50px; margin:5px 0 0 7px;}
.people_list li img{ display:block;}
.people_list li p{ margin-top:5px; color:#666; text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}



/*确认课程信息*/
.course_tit{ font-size:18px; color:#333;}
.step_nav{ margin-top:20px; overflow:hidden;}
.step_nav li{ float:left; margin-left:-20px; position:relative; }
.step_nav li.first_child{ margin-left:0;}
.step_nav li a{ display:block; width:200px; height:30px; line-height:30px; text-align:center; background:#ccc; font-size:13px; color:#374760; border-radius:20px; border-right:1px solid #fff;}
.step_nav li i{ display:block; width:20px; height:15px; background:url(../Images/micro_select.png) no-repeat; position:absolute; top:7px; right:10px;}
.step_nav li.active a,.step_nav li:hover a{ background:#990000; color:#fff;}
.step_nav li.index2{ z-index:2;}
.step_nav li.index1{ z-index:1;}
.step_nav li.index4{ z-index:4;}
.step_nav li.index3{ z-index:3;}
.lecture_wrap{ margin-top:20px; background:#fff;  padding:20px 0; overflow:hidden;}
.lecture_tip{ color:#333; padding-left:20px;}
.lecture_box{ margin-top:10px; padding:20px; border:1px solid #01ffff; background:#e7f5fe; overflow:hidden;}
.lecture_box img{ float:left; margin-right:20px;}
.lecture_info{ overflow:hidden;}
.lecture_info b{ font-size:18px; line-height:30px; color:#333;}
.lecture_info p{ overflow:hidden; color:#333;}
.lecture_info p span{ float:left; width:270px; margin-top:5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.button_box{ margin-top:50px; padding:90px 30px 0 0; border-top:1px solid #ccc; overflow:hidden;}
.button_box a{ float:right; margin-left:10px; width:110px; height:50px; line-height:50px; text-align:center; border-radius:2px; font-size:18px;}
.submit_btn{ background:#14a4fa; border:1px solid #3399cc; color:#fff;}
.cancel_btn{ background:#f0f0f0; border:1px solid #ccc; color:#333;}
.submit_btn:hover{ background:#4daee8;}
.cancel_btn:hover{ background:#f7f7f7;}



/*完成*/
.complete_tip{ width:690px; margin:50px auto; overflow:hidden;}
.complete_tip img{ float:left; margin-right:30px;}
.complete_text{ overflow:hidden;}
.complete_text b{ display:block; font-size:24px; color:#333; line-height:30px;}
.complete_text p{ margin-top:15px; color:#333;}
.complete_text a{ display:inline-block; margin-top:20px; width:110px; height:50px; line-height:50px; text-align:center; background:#14a4fa; border:1px solid #3399cc; font-size:18px; color:#fff; border-radius:2px;}
.complete_text a:hover{ background:#4daee8;}




/*填写基本信息*/
.step_wrap{ margin-top:20px; overflow:hidden; position:relative;}
.step_wrap .step_nav{ margin-top:0;}
.course_btn{ position:absolute; right:0; top:0; height:30px;}
.course_btn a{ float:right; margin:3px 0 0 5px; font-size:14px; color:#333;}
.course_btn a:hover{ text-decoration:underline;}
.icon_list{ background-position:-48px -144px;}
.icon_eye{ background-position:-72px -24px;}
.icon_home{ background-position:-24px -144px;}
.create_box{ padding:25px 49px; border:1px solid #ccc; background:#fff; margin-top:20px; overflow:hidden;}
.create_item{ margin-top:14px; position:relative; min-height:36px;}
.create_item label{ float:left; width:80px; line-height:36px; font-size:14px; color:#333;}
.create_item_r{ float:left; position:relative;}
.create_item input{ padding:6px 9px; height:22px; line-height:22px; border:1px solid #ccc; width:580px; font-size:12px;}
.type_box{ padding:5px 9px; height:24px; line-height:24px; border:1px solid #ccc; width:590px; overflow:hidden;}
.type_box span{ float:left; margin-right:4px; padding:0 25px 0 5px; height:24px; line-height:24px; background:#f2f2f2; font-size:13px; color:#333; position:relative;}
.type_box span a{ font-size:14px; color:#333; position:absolute; top:-2px; right:7px;}
.select_btn{ float:left; margin-top:1px; width:22px; height:22px; background:url(../Images/micro_type.gif) no-repeat;}
.type_list{ display:none; width:118px; border:1px solid #999; background:#fff; position:absolute; top:36px; left:0; z-index:10;}
.type_list li{ height:30px; line-height:30px; padding:0 20px; font-size:14px; color:#333; position:relative; cursor:pointer;}
.type_list li i{ position:absolute; top:7px; right:10px;}
.arrow_icon{ background-position:-16px -32px;}
.type_list li:hover{ background:#374760; color:#fff;}
.type_list li:hover ul{ display:block;}
.type_list ul{ display:none; position:absolute; left:118px; top:0; width:118px; border:1px solid #999; background:#fff;}
.video_box{ overflow:hidden; }
.video_box img{ display:block;}
.video_box p{ margin-top:30px; line-height:37px; font-size:14px; color:#666; overflow:hidden;}
.video_box p a{ float:left; margin-right:13px; width:118px; height:35px; line-height:35px; text-align:center; background:#374760; border:1px solid #ccc; color:#fff;}
.video_box p a:hover{ background:#475c7c;}
.teacher_box{ overflow:hidden;}
.teacher_list{ margin-bottom:2px; padding:15px 19px; background:#e4e4e4; border:1px solid #ccc; width:660px; height:122px; position:relative;}
.teacher_img{ float:left; margin-right:10px; width:120px; height:120px; border:1px solid #ccc; position:relative;}
.teacher_img i{ position:absolute; top:3px; right:3px;}
.edit_btn{ background-position:0 -64px;}
.teacher_detail{ overflow:hidden;}
.teacher_detail input{ width:180px;}
.teacher_detail textarea{ margin-top:10px; padding:9px; border:1px solid #ccc; height:56px; width:480px; font-family:'Microsoft YaHei'; resize:none;}
.operation_btn{ position:absolute; left:699px; top:0;}
.operation_btn a{ display:block; padding:4px; width:16px; height:16px; background:#646464; margin-bottom:1px;}
.operation_btn a:hover{ background:#747474;}
.icon_add{ background-position:0 -32px;}
.icon_d{ background-position:0 -48px;}
.label_box{ overflow:hidden;}
.label_box p{ overflow:hidden;}
.label_box p input{ float:left; padding:3px 9px; width:150px;}
.label_box p a{ float:left; padding:7px; width:16px; height:16px; background:#374760;}
.label_box p a:hover{ background:#475c7c;}
.add_btn{ background-position:-16px -48px;}
.label_list{ margin-top:10px; overflow:hidden;}
.label_list li{ float:left; margin-right:10px; padding:0 20px; width:68px; height:28px; line-height:28px; text-align:center; background:#f7f7f7; border:1px solid #d4d4d4; color:#374760; position:relative; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; cursor:pointer;}
.label_list li:hover{ background:#f0f0f0;}
.label_list li a{ display:block; position:absolute; right:3px; top:8px;  width:14px; height:14px; color:#fff; line-height:14px; text-align:center;}
.icon_round{ background-position:-16px -64px;}
.item_wrap{ overflow:hidden;}
.upload_btn{ display:inline-block; width:118px; height:35px; line-height:35px; text-align:center; background:#374760; border:1px solid #ccc; font-size:14px; color:#fff;}
.upload_btn:hover{ background:#475c7c;}
.item_box{ margin-top:10px; padding:14px 19px 14px 9px; width:670px; background:#e4e4e4; border:1px solid #ccc; height:110px; position:relative;}
.num{ float:left; margin-right:10px; width:30px; height:25px; line-height:25px; text-align:center; background:#374760; color:#fff; border-radius:5px;}
.teacher_detail2 input,.teacher_detail2 textarea{ width:380px;}
.teacher_detail2 textarea{ height:46px;}
.icon_up{ background-position:-16px 0;}
.icon_down{ background-position:-16px -16px;}
.teacher_img2{ float:right; width:205px; height:110px; border:0; margin-right:0;}
.micro_video_btn{ display:block; width:80px; height:50px; background:url(../Images/micro_video_btn.png) no-repeat; position:absolute; top:50%; left:50%; margin:-25px 0 0 -40px;}
.file_box{ margin-top:20px; padding:0 29px 29px; width:640px; border:1px solid #ccc; overflow:hidden;}
.file_table{ width:100%;}
.file_table tr td{ height:40px; line-height:40px; border-bottom:1px solid #ccc; font-size:14px; color:#333;}
.file_table tr td input{ padding:0; height:auto; line-height:auto; border:0; width:auto; vertical-align:middle; margin-right:5px;}
.file_name{ width:320px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.file_name i{ vertical-align:middle;}
.duration{ overflow:hidden; font-size:14px; color:#333; }
.duration input{width:50px; margin-right:10px;}



/*申请发布*/
.micro_index2{ width:1000px;}
.publish_wrap{ margin-top:20px; padding:50px 29px; background:#fff; border:1px solid #ccc; overflow:hidden;}
.publish_tip{ overflow:hidden; position:relative;}
.publish_tip p{ width:390px; height:36px; line-height:36px; margin:0 auto; font-size:20px; color:#666;}
.publish_tip p img{ float:left; margin-right:10px;}
.check_btn{ position:absolute; top:0; right:0; color:#999;}
.check_btn i{ vertical-align:middle; margin-right:10px;}
.icon_recheck{ background-position:-32px 0;}
.check_box{ margin-top:15px; overflow:hidden;}
.check_tip{ font-size:13px; color:#999;}
.check_tip i{ margin:0 5px; vertical-align:middle;}
.icon_tip{ background-position:-32px -16px;}
.table_box{ margin-top:10px; border-top:1px solid #ccc;}
.check_table{ width:100%;}
.check_table tr th,.check_table tr td{ border-bottom:1px solid #ccc; height:29px; line-height:29px;}
.check_table tr th{ text-align:left; background:#e4e4e4; font-size:13px; color:#333;}
.check_table tr td{ font-size:12px; color:#666;}
.complete_btn{ display:block; width:20px; height:15px; background:url(../Images/micro_select.png) no-repeat; vertical-align:middle;}
.enter_btn{ color:#1e5975; text-decoration:underline;}
.enter_btn:hover{ text-decoration:underline;}
.check_table2 tr th{ background:#fbf9e0;}
.base_item{ padding-right:30px; max-width:400px; height:29px; position:relative;}
.base_item i{ position:absolute; right:0; top:7px;}


/*创建见面课*/
.meet_tip{ padding-bottom:10px; border-bottom:1px solid #ccc; overflow:hidden;}
.meet_tip p{ line-height:25px; font-size:14px; color:#333; padding-left:10px; background:url(../Images/micro_yuan.png) no-repeat 0 9px;}
.meet_tip p a{ color:#374760; padding-left:10px;}
.meet_tip p a:hover{ text-decoration:underline;}
.create_btn{ display:block; width:200px; margin:40px auto; height:50px; line-height:50px; text-align:center; font-size:20px; color:#fff; background:#374760;}
.create_btn:hover{ background:#475c7c;}
.meet_table{ width:100%;}
.meet_table tr th,.meet_table tr td{ height:30px; line-height:30px;}
.meet_table tr th{ text-align:left; background:#e4e4e4; font-size:13px; color:#333;}
.meet_table tr td{ font-size:12px; color:#666;}
.edit_box{ display:none; height:30px; overflow:hidden;}
.edit_box i{ float:right; margin:7px 12px 0 0; cursor:pointer;}
.delete_btn{ background-position:-32px -48px;}
.edit_icon{ background-position:-32px -32px;}
.meeting_wrap{ padding:10px 29px 20px; border:1px solid #ccc; overflow:hidden;}
.meeting_item{ margin-top:10px; overflow:hidden;}
.meeting_item label{ float:left; width:95px; margin-right:10px; line-height:30px; font-size:13px; color:#666; text-align:right;}
.meeting_item label b{ color:#ff0000; padding-right:5px;}
.meeting_item input{ padding:3px 4px; height:22px; line-height:22px; border:1px solid #ccc;}
.meeting_item select{ height:30px; line-height:30px; border:1px solid #ccc;}
.wid400{ width:400px;}
.wid200{ width:200px;}
.wid190{ width:190px;}
.wid410{ width:410px;}
.meet_item_r{ overflow:hidden;}
.mar10{ margin-left:10px;}
.explanation_box{ margin-top:20px; overflow:hidden;}
.item_list{ height:35px; border-bottom:1px solid #ccc;}
.item_list li{ float:left; margin-right:10px;}
.item_list li a{ display:block; width:118px; height:34px; line-height:34px; text-align:center; border:1px solid #ccc; border-bottom:0; font-size:14px; color:#999; background:#eff0f2;}
.item_list li.active a,.item_list li a:hover{ border-bottom:1px solid #fff; background:#fff;}
.explanation_item{ padding:19px; border:1px solid #ccc; border-top:0; overflow:hidden;}
.explanation_item p{ font-size:13px; color:#999;}
.exercise_wrap{ margin-top:20px; padding:30px 49px; border:1px solid #ccc; background:#fff; overflow:hidden;}
.exam_time{ padding:20px 10px; border:1px solid #ccc; height:34px; line-height:34px; font-size:14px; color:#333; background:#f2f2f2;}
.exam_time input{ margin:0 10px; padding:6px 9px; height:22px; line-height:22px; width:80px; border:1px solid #ccc;}
.pratice_box{ margin-top:15px; overflow:hidden;}
.pratice_box li{ padding:20px 40px; border-bottom:1px solid #ccc; position:relative;}
.pratice_box li:hover{ background:#f8f8f8;}
.pratice_box li:hover .icon_box{ display:block;}
.num_box{ display:block; width:30px; height:25px; line-height:25px; text-align:center; background:#374760; color:#fff; border-radius:5px; position:absolute; top:28px; left:0;}
.score_box{ font-size:14px; color:#333; line-height:36px; font-weight:bold;}
.score_box input{ padding:6px 9px; height:22px; line-height:22px; width:50px; border:1px solid #ccc; margin:0 10px;}
.question_box{ font-size:14px; color:#666;}
.question_box p{ margin:10px 0;}
.question_box span{ display:block; line-height:25px;}
.correct_answer{ font-size:14px; color:#374760; margin-top:20px;}
.icon_box{ display:none; position:absolute; top:20px; right:40px;}
.icon_box i{ float:right; margin-left:10px; cursor:pointer;}
.icon_down_blue{ background-position:-48px -48px;}
.icon_up_blue{ background-position:-48px -32px;}
.icon_delete_blue{ background-position:-48px -16px;}
.icon_edit_blue{ background-position:-48px 0;}
.explanation_tip{ height:69px; line-height:69px; border-bottom:1px solid #ccc; font-size:14px; color:#333;}
.add_box{ margin:40px 0; text-align:center; overflow:hidden;}
.add_box a{ display:inline-block; margin-left:10px;}
.add_box a span{ float:left; margin-right:1px; padding:15px 10px; width:20px; height:20px;}
.add_box a span i{ display:block; width:20px; height:20px; background:url(../Images/micro_add.png) no-repeat;}
.add_box a p{ float:left; height:50px; line-height:50px; padding:0 15px; font-size:16px; color:#fff;}
.blue_bg span{ background:#72c2e4;}
.blue_bg p{ background:#72c2e4;}
.blue_bg:hover span{ background:#52a6ca;}
.blue_bg:hover p{ background:#52a6ca;}
.green_bg span{ background:#03a895;}
.green_bg p{ background:#03a895;}
.green_bg:hover span{ background:#1abaa7;}
.green_bg:hover p{ background:#1abaa7;}
.red_bg span{ background:#ed736f;}
.red_bg p{ background:#ed736f;}
.red_bg:hover span{ background:#de4c47;}
.red_bg:hover p{ background:#de4c47;}

.paper_wrap{ overflow:hidden;}
.paper_wrap h4{ height:40px; line-height:40px; background:#374760; padding-left:10px; font-size:14px; color:#fff;}
.paper_box{ padding:50px; background:#fff; overflow:hidden;}
.answer_box{ margin-top:15px; overflow:hidden;}
.answer_box li{ margin-top:5px; height:38px; border:1px solid #ccc; overflow:hidden;}
.answer_box li span{ float:left; width:38px; height:38px; border-right:1px solid #ccc;}
.answer_box li span i{ display:block; height:15px; width:24px; margin:11px 0 0 7px;}
.icon_select{ background-position:-85px -144px;}
.answer_box li a{ float:right; width:38px; height:38px; line-height:38px; text-align:center; border-left:1px solid #ccc; font-size:20px; color:#234673; font-weight:bold;}
.answer_box li p{ overflow:hidden; position:relative;}
.answer_box li p input{ padding:8px 25px 8px 5px; height:22px; line-height:22px; width:790px; border:0;}
.answer_box li p i{ position:absolute; top:13px; right:7px; cursor:pointer;}
.icon_spread{ background-position:-109px -149px;}
.add_option{ display:block; margin:20px 0; width:105px; height:25px; line-height:25px; background:url(../Images/add_bg.gif) no-repeat;}
.add_option:hover{ background:url(../Images/add_bg_hover.gif) no-repeat;}
.add_option em{ float:left; width:25px; height:25px;}
.add_option em i{ margin:4px 0 0 4px;}
.btn_add{ background-position:-53px 0;}
.add_option span{ float:left; width:80px; height:25px; text-align:center; color:#fff;}

.sort_wrap{ padding-bottom:20px; background:#fff; overflow:hidden; border:1px solid #ccc;}
.filter_wrap{ background:#f2f2f2; overflow:hidden; padding-bottom:20px;}
.filter_item{ margin-top:10px; overflow:hidden;}
.filter_item label{ float:left; margin-right:10px; width:50px; text-align:right; color:#333; line-height:26px;}
.select_box{ overflow:hidden;}
.select_box select{ float:left; margin-right:10px; height:26px; line-height:26px; border:1px solid #e4e4e4;}
.wid120{ width:120px;}
.wid170{ width:170px;}
.search_box{ float:left; width:200px; height:26px; position:relative;}
.search_box input{ height:22px; padding:1px 24px 1px 4px; border:1px solid #e4e4e4;}
.search_box i{ position:absolute; top:5px; right:4px; cursor:pointer;}
.icon_search{ background-position:-48px -64px;}
.show_num{ float:right; color:#333; line-height:26px;}
.show_num select{ float:right; margin-left:10px; width:60px; height:26px;}
.filter_option{ float:left; width:938px; margin-top:-5px;}
.filter_option a{ float:left; padding:0 10px; height:26px; line-height:26px; margin:5px 5px 0 0; color:#333;}
.filter_option a:hover,.filter_option a.active{ background:#475c7c; color:#fff;}
.filter_table{ width:100%; margin-left:-1px;}
.filter_table tr th,.filter_table tr td{ height:29px; border:1px solid #ccc; color:#333;}
.filter_table tr th{ background:#e4e4e4;}
.simple{ color:#009900;}
.medium{ color:#ff9900;}
.difficult{ color:#ff0000;}













