body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1460px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:1461px;
}
#u1 {
  position:absolute;
  left:2px;
  top:722px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:24px;
  width:1000px;
  height:100px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:101px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:66px;
  top:124px;
  width:10px;
  height:1299px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:1290px;
  width:20px;
  height:14px;
}
#u4_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:1299px;
}
#u5 {
  position:absolute;
  left:40px;
  top:186px;
  width:70px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:142px;
  width:185px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:181px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:41px;
  top:143px;
  width:70px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:117px;
  top:190px;
  width:33px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:40px;
  top:614px;
  width:70px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:118px;
  top:618px;
  width:72px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:657px;
  width:70px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:118px;
  top:661px;
  width:72px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:700px;
  width:150px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:42px;
  top:701px;
  width:70px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:42px;
  top:742px;
  width:70px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:118px;
  top:746px;
  width:92px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:40px;
  top:226px;
  width:920px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u29_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:911px;
  top:-5px;
  width:14px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:4px;
  width:920px;
  height:3px;
}
#u30 {
  position:absolute;
  left:61px;
  top:220px;
  width:20px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:14px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:40px;
  top:231px;
  width:920px;
  height:365px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:366px;
}
#u33 {
  position:absolute;
  left:2px;
  top:174px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:61px;
  top:222px;
  width:20px;
  height:10px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:40px;
  top:779px;
  width:920px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u36_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:911px;
  top:-5px;
  width:14px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:4px;
  width:920px;
  height:3px;
}
#u37 {
  position:absolute;
  left:62px;
  top:773px;
  width:20px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:14px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:40px;
  top:785px;
  width:920px;
  height:638px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:639px;
}
#u40 {
  position:absolute;
  left:2px;
  top:311px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:62px;
  top:773px;
  width:20px;
  height:17px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:82px;
  top:889px;
  width:840px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u43_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u44 {
  position:absolute;
  left:82px;
  top:925px;
  width:840px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:121px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:774px;
  top:854px;
  width:29px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:754px;
  top:855px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:836px;
  top:854px;
  width:30px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:900px;
  top:854px;
  width:28px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:82px;
  top:1065px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:774px;
  top:1065px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:838px;
  top:1065px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:900px;
  top:1065px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:82px;
  top:1095px;
  width:840px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u62_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u63 {
  position:absolute;
  left:82px;
  top:1125px;
  width:840px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:21px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:82px;
  top:1169px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:774px;
  top:1169px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:838px;
  top:1169px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:900px;
  top:1169px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:82px;
  top:1205px;
  width:840px;
  height:166px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:167px;
}
#u74 {
  position:absolute;
  left:2px;
  top:75px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:828px;
  top:1195px;
  width:20px;
  height:10px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u76 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:830px;
  top:1200px;
  width:18px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u77_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:9px;
  top:-5px;
  width:14px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:18px;
  height:1px;
}
#u78 {
  position:absolute;
  left:102px;
  top:1220px;
  width:800px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:36px;
}
#u79 {
  position:absolute;
  left:2px;
  top:9px;
  width:796px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:102px;
  top:1299px;
  width:800px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u80_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:791px;
  top:-5px;
  width:14px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u81 {
  position:absolute;
  left:102px;
  top:1349px;
  width:800px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u81_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:791px;
  top:-5px;
  width:14px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u82 {
  position:absolute;
  left:142px;
  top:1265px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:182px;
  top:1265px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:476px;
  top:1265px;
  width:35px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:142px;
  top:1314px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:196px;
  top:1314px;
  width:365px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:21px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:552px;
  top:1314px;
  width:35px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:102px;
  top:1265px;
  width:30px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:102px;
  top:1314px;
  width:30px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:41px;
  top:589px;
  width:920px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u98_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:911px;
  top:-5px;
  width:14px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:4px;
  width:920px;
  height:3px;
}
#u99 {
  position:absolute;
  left:42px;
  top:1417px;
  width:920px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u99_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:911px;
  top:-5px;
  width:14px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:4px;
  width:920px;
  height:3px;
}
#u100 {
  position:absolute;
  left:818px;
  top:855px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:880px;
  top:855px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:754px;
  top:1066px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u105 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:818px;
  top:1066px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u107 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:880px;
  top:1066px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:754px;
  top:1169px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u111 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:818px;
  top:1169px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u113 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:880px;
  top:1169px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u115 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:170px;
  top:809px;
  width:551px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:21px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:82px;
  top:807px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:82px;
  top:854px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:84px;
  top:512px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u123 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:484px;
  top:1388px;
  width:34px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:11px;
}
#u125 {
  position:absolute;
  left:2px;
  top:-3px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:484px;
  top:1401px;
  width:36px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u126_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u126_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u126_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u127 {
  position:absolute;
  left:484px;
  top:1397px;
  width:36px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u127_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u127_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u127_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u128 {
  position:absolute;
  left:41px;
  top:40px;
  width:60px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u129 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:112px;
  top:41px;
  width:78px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:112px;
  top:62px;
  width:120px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:112px;
  top:82px;
  width:170px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:18px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:668px;
  top:80px;
  width:48px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:676px;
  top:44px;
  width:36px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#007D6B;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:752px;
  top:80px;
  width:48px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:754px;
  top:44px;
  width:36px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#F44F4F;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:824px;
  top:80px;
  width:48px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:832px;
  top:44px;
  width:36px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FE6EB2;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:896px;
  top:80px;
  width:64px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:910px;
  top:44px;
  width:36px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#14A4FA;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:33px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:85px;
  top:190px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u153 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:81px;
  top:334px;
  width:840px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u154_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u154_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u154_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u155 {
  position:absolute;
  left:81px;
  top:370px;
  width:840px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:121px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:773px;
  top:299px;
  width:29px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:753px;
  top:300px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u160 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:835px;
  top:299px;
  width:30px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:898px;
  top:299px;
  width:28px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:81px;
  top:510px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:773px;
  top:510px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:836px;
  top:510px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:898px;
  top:510px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:81px;
  top:540px;
  width:840px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u173_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u173_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u173_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u174 {
  position:absolute;
  left:816px;
  top:300px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u175 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:878px;
  top:300px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u177 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:753px;
  top:511px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u179 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:816px;
  top:511px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u181 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:878px;
  top:511px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u183 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:169px;
  top:254px;
  width:551px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:21px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:81px;
  top:252px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:81px;
  top:299px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:86px;
  top:746px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u191 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:484px;
  top:560px;
  width:34px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:11px;
}
#u193 {
  position:absolute;
  left:2px;
  top:-3px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:483px;
  top:573px;
  width:36px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u194_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u194_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u194_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u195 {
  position:absolute;
  left:483px;
  top:569px;
  width:36px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u195_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u195_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u195_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u196 {
  position:absolute;
  left:260px;
  top:82px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u197 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:286px;
  top:75px;
  width:90px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:31px;
}
#u199 {
  position:absolute;
  left:2px;
  top:5px;
  width:86px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:1090px;
  top:94px;
  width:180px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:47px;
}
#u201 {
  position:absolute;
  left:2px;
  top:3px;
  width:176px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1054px;
  top:101px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u203 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:250px;
  top:139px;
  width:200px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u205 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  word-wrap:break-word;
}
