<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>添加测试</title>
<link rel="stylesheet" href="../../css/header.css">
<link rel="stylesheet" href="../../css/common.css">
<link rel="stylesheet" href="../../css/side_left.css">
<link rel="stylesheet" href="../../css/micro.css">
<link rel="stylesheet" href="../../css/footer.css">
</head>

<body>
<div class="micro_wrap">
	<div class="micro_index micro_index2">
		<h2 class="course_tit">微课程</h2>
        <div class="step_wrap">
            <ul class="step_nav">
                <li class="first_child index4"><a href="javascript:;">1.填写基本信息</a><i></i></li>
                <li class="active index3"><a href="javascript:;">2.添加测试</a></li>
                <li class="index2"><a href="javascript:;">3.见面课设计</a></li>
                <li><a href="javascript:;">4.申请发布</a></li>
            </ul>
            <div class="course_btn">
            	<a class="icon_24 icon_list" href="#"></a>
                <a class="icon_24 icon_eye" href="#"></a>
                <a class="icon_24 icon_home" href="#"></a>
            	<a href="https://www.baidu.com/" target="_blank">如何创建好课程？</a>
            </div>
        </div>
        <div class="exercise_wrap">
        	<p class="exam_time">考试时长：<input type="text">分钟</p>
            <ul class="pratice_box">
            	<li>
                	<span class="num_box">1</span>
                    <p class="score_box">单选题<input type="text">分</p>
                    <div class="question_box">
                    	<p>唯物主义和唯心主义是哲学史上的两个基本派别，唯心主义者都主张？</p>
                        <span>A. 事物是感觉的集合</span>
                        <span>B. 事物是理念</span>
                        <span>C. 意识是世界的本原</span>
                        <span>D. 世界是不可认识的</span>
                    </div>
                    <p class="correct_answer">正确答案是：B</p>
                    <p class="icon_box">
                    	<i class="icon_m icon_down_blue"></i>
                        <i class="icon_m icon_up_blue"></i>
                        <i class="icon_m icon_delete_blue"></i>
                        <i class="icon_m icon_edit_blue"></i>
                    </p>
                </li>
                <li>
                	<span class="num_box">2</span>
                    <p class="score_box">问答题<input type="text">分</p>
                    <div class="question_box">
                    	<p>唯物主义和唯心主义是哲学史上的两个基本派别，唯心主义者都主张？</p> 
                    </div>
                    <p class="icon_box">
                    	<i class="icon_m icon_down_blue"></i>
                        <i class="icon_m icon_up_blue"></i>
                        <i class="icon_m icon_delete_blue"></i>
                        <i class="icon_m icon_edit_blue"></i>
                    </p>
                </li>
            </ul>
            <p class="explanation_tip"><b>注释说明：</b>唯物主义和唯心主义是哲学史上的两个基本派别</p>
            <div class="add_box">
            	<a class="blue_bg" href="javascript:;">
                	<span><i></i></span>
                    <p>新建试题</p>
                </a>
                <a class="green_bg" href="javascript:;">
                	<span><i></i></span>
                    <p>从题库选题</p>
                </a>
                <a class="red_bg" href="javascript:;">
                	<span><i></i></span>
                    <p>注释说明</p>
                </a>
            </div>
            <div class="btn_box">
            	<a class="save" href="javascript:;">保存</a>
                <a class="keep" href="javascript:;">保存进入下一步</a>
            </div>
        </div>
    </div>
</div>
<div class="pop_bg"></div>
<div class="pop_1000" style="display:block;">
	<h4>题库选题</h4>
	<span class="icon icon_close"></span>
    <div class="sort_wrap">
        <div class="filter_wrap">
            <div class="filter_item">
                <label>筛选</label>
                <div class="select_box">
                	<select class="wid200">
                    	<option>高等数学</option>
                    </select>
                    <select class="wid200">
                    	<option>单选题</option>
                    </select>
                    <select class="wid120">
                    	<option>难易程度</option>
                    </select>
                    <p class="search_box">
                    	<input class="wid170" type="text" placeholder="请输入关键字">
                        <i class="icon_m icon_search"></i>
                    </p>
                    <p class="show_num">
                    	<select>
                        	<option>10行</option>
                            <option>20行</option>
                            <option>50行</option>
                            <option>100行</option>
                        </select>
                    	每页显示
                    </p>
                </div>
            </div>
            <div class="filter_item">
                <label>标签</label>
                <div class="filter_option">
                	<a class="active" href="javascript:;">不限</a>
                    <a href="javascript:;">标签1</a>
                    <a href="javascript:;">标签2</a>
                    <a href="javascript:;">标签3</a>
                    <a href="javascript:;">标签4</a>
                    <a href="javascript:;">标签5</a>
                    <a href="javascript:;">标签6</a>
                    <a href="javascript:;">标签7</a>
                    <a href="javascript:;">标签8</a>
                    <a href="javascript:;">标签9</a>
                    <a href="javascript:;">标签10</a>
                </div>
            </div>
            <div class="filter_item">
                <label>知识点</label>
                <div class="filter_option">
                	<a class="active" href="javascript:;">不限</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                </div>
            </div>
        </div>
        <table class="filter_table">
        	<tr>
            	<th><input type="checkbox"></th>
                <th>题型</th>
                <th>难易程度</th>
                <th>内容</th>
                <th>标签</th>
                <th>知识点</th>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="simple">简单</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="medium">中等</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="difficult">较难</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="medium">中等</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="difficult">较难</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
        </table>
        <div class="btn_box">
        	<a class="save" href="javascript:;">选择</a>
            <a class="cancel" href="javascript:;">取消</a>
        </div>
    </div>
</div>
<script src="../../js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../js/micro.js"></script>
</body>
</html>
