
<div class="pop_bg"></div>
<div class="pop_1000" style="display:block;">
	<h4>题库选题</h4>
	<span class="icon icon_close"></span>
    <div class="sort_wrap">
        <div class="filter_wrap">
            <div class="filter_item">
                <label>筛选</label>
                <div class="select_box">
                	<select class="wid200">
                    	<option>高等数学</option>
                    </select>
                    <select class="wid200">
                    	<option>单选题</option>
                    </select>
                    <select class="wid120">
                    	<option>难易程度</option>
                    </select>
                    <p class="search_box">
                    	<input class="wid170" type="text" placeholder="请输入关键字">
                        <i class="icon_m icon_search"></i>
                    </p>
                    <p class="show_num">
                    	<select>
                        	<option>10行</option>
                            <option>20行</option>
                            <option>50行</option>
                            <option>100行</option>
                        </select>
                    	每页显示
                    </p>
                </div>
            </div>
            <div class="filter_item">
                <label>标签</label>
                <div class="filter_option">
                	<a class="active" href="javascript:;">不限</a>
                    <a href="javascript:;">标签1</a>
                    <a href="javascript:;">标签2</a>
                    <a href="javascript:;">标签3</a>
                    <a href="javascript:;">标签4</a>
                    <a href="javascript:;">标签5</a>
                    <a href="javascript:;">标签6</a>
                    <a href="javascript:;">标签7</a>
                    <a href="javascript:;">标签8</a>
                    <a href="javascript:;">标签9</a>
                    <a href="javascript:;">标签10</a>
                </div>
            </div>
            <div class="filter_item">
                <label>知识点</label>
                <div class="filter_option">
                	<a class="active" href="javascript:;">不限</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                    <a href="javascript:;">知识点名称</a>
                </div>
            </div>
        </div>
        <table class="filter_table">
        	<tr>
            	<th><input type="checkbox"></th>
                <th>题型</th>
                <th>难易程度</th>
                <th>内容</th>
                <th>标签</th>
                <th>知识点</th>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="simple">简单</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="medium">中等</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="difficult">较难</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="medium">中等</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
            <tr>
            	<td align="center"><input type="checkbox"></td>
                <td align="center">单选题</td>
                <td align="center"><span class="difficult">较难</span></td>
                <td>——What are you busy with?</td>
                <td>标签1、标签2、标签3</td>
                <td>知识点名称，知识点名称</td>
            </tr>
        </table>
        <div class="btn_box">
        	<a class="save" href="javascript:;">选择</a>
            <a class="cancel" href="javascript:;">取消</a>
        </div>
    </div>
</div>
