<div class="exercise_wrap">
    <p class="exam_time">考试时长：<input type="text">分钟</p>
    <ul class="pratice_box">
        <li>
            <span class="num_box">1</span>
            <p class="score_box">单选题<input type="text">分</p>
            <div class="question_box">
                <p>唯物主义和唯心主义是哲学史上的两个基本派别，唯心主义者都主张？</p>
                <span>A. 事物是感觉的集合</span>
                <span>B. 事物是理念</span>
                <span>C. 意识是世界的本原</span>
                <span>D. 世界是不可认识的</span>
            </div>
            <p class="correct_answer">正确答案是：B</p>
            <p class="icon_box">
                <i class="icon_m icon_down_blue"></i>
                <i class="icon_m icon_up_blue"></i>
                <i class="icon_m icon_delete_blue"></i>
                <i class="icon_m icon_edit_blue"></i>
            </p>
        </li>
        <li>
            <span class="num_box">2</span>
            <p class="score_box">问答题<input type="text">分</p>
            <div class="question_box">
                <p>唯物主义和唯心主义是哲学史上的两个基本派别，唯心主义者都主张？</p>
            </div>
            <p class="icon_box">
                <i class="icon_m icon_down_blue"></i>
                <i class="icon_m icon_up_blue"></i>
                <i class="icon_m icon_delete_blue"></i>
                <i class="icon_m icon_edit_blue"></i>
            </p>
        </li>
    </ul>
    <p class="explanation_tip"><b>注释说明：</b>唯物主义和唯心主义是哲学史上的两个基本派别</p>
    <div class="add_box">
        <a class="blue_bg" href="javascript:;">
            <span><i></i></span>
            <p>新建试题</p>
        </a>
        <a class="green_bg" href="javascript:;">
            <span><i></i></span>
            <p>从题库选题</p>
        </a>
        <a class="red_bg" href="javascript:;">
            <span><i></i></span>
            <p>注释说明</p>
        </a>
    </div>
    <div class="btn_box">
        <a class="save" href="javascript:;">保存</a>
        <a class="keep" href="javascript:;">保存进入下一步</a>
    </div>
</div>
