
<div class="publish_wrap">
    <div class="publish_tip">
        <p>
            <img src="../../Images/micro_expression2.png" width="36" height="36" alt="">
            恭喜您！通过了课程资料完整度检查！
        </p>
        <a class="check_btn" href="javascript:;"><i class="icon_m icon_recheck"></i>重新检查</a>
    </div>
    <div class="check_box">
        <p class="check_tip">点击<i class="icon_m icon_tip"></i>即可完善空缺的内容</p>
        <div class="table_box">
            <table class="check_table">
                <tr>
                    <th width="20"></th>
                    <th colspan="2">基本信息</th>
                </tr>
                <tr>
                    <td></td>
                    <td width="450">
                        <p class="base_item">课程图片/片花<i class="complete_btn"></i></p>
                    </td>
                    <td>
                        <p class="base_item">课程名称<i class="complete_btn"></i></p>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="450">
                        <p class="base_item">课程分类<i class="complete_btn"></i></p>
                    </td>
                    <td>
                        <p class="base_item">课程简介<i class="icon_m icon_tip"></i></p>
                    </td>
                </tr>
            </table>
            <table class="check_table">
                <tr>
                    <th width="20"></th>
                    <th width="450">课程目录</th>
                    <th width="155">视频</th>
                    <th width="155">名称</th>
                    <th>简介</th>
                </tr>
                <tr>
                    <td></td>
                    <td>1.基本函数</td>
                    <td><i class="complete_btn"></i></td>
                    <td><a class="enter_btn" href="javascript:;">输入</a></td>
                    <td><a class="enter_btn" href="javascript:;">输入</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td>2.几何体</td>
                    <td><i class="complete_btn"></i></td>
                    <td><a class="enter_btn" href="javascript:;">输入</a></td>
                    <td><a class="enter_btn" href="javascript:;">输入</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td>章测试</td>
                    <td><i class="complete_btn"></i></td>
                    <td><i class="complete_btn"></i></td>
                    <td><i class="complete_btn"></i></td>
                </tr>
            </table>
            <table class="check_table check_table2">
                <tr>
                    <th width="20"></th>
                    <th width="450">整体课时</th>
                    <th width="155">计划天数 10</th>
                    <th width="155">资料 10</th>
                    <th>测试 10</th>
                </tr>
            </table>
        </div>
        <div class="btn_box">
            <a class="save" href="javascript:;">保存</a>
            <a class="keep" href="javascript:;">发布课程</a>
        </div>
    </div>
