body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1390px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:1391px;
}
#u1 {
  position:absolute;
  left:2px;
  top:687px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:24px;
  width:1000px;
  height:80px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:81px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:67px;
  top:104px;
  width:10px;
  height:1254px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:1245px;
  width:20px;
  height:14px;
}
#u4_line {
  position:absolute;
  left:4px;
  top:0px;
  width:3px;
  height:1254px;
}
#u5 {
  position:absolute;
  left:40px;
  top:166px;
  width:70px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:122px;
  width:185px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:181px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:41px;
  top:123px;
  width:70px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:23px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:117px;
  top:170px;
  width:33px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:40px;
  top:1294px;
  width:70px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:118px;
  top:1298px;
  width:72px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:1337px;
  width:70px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:118px;
  top:1341px;
  width:72px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:40px;
  top:589px;
  width:70px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:116px;
  top:593px;
  width:92px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:40px;
  top:206px;
  width:920px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u25_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:911px;
  top:-5px;
  width:14px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:4px;
  width:920px;
  height:3px;
}
#u26 {
  position:absolute;
  left:61px;
  top:200px;
  width:20px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:14px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:40px;
  top:211px;
  width:920px;
  height:365px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:366px;
}
#u29 {
  position:absolute;
  left:2px;
  top:174px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:61px;
  top:202px;
  width:20px;
  height:10px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:40px;
  top:634px;
  width:920px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u32_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:911px;
  top:-5px;
  width:14px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:4px;
  width:920px;
  height:3px;
}
#u33 {
  position:absolute;
  left:62px;
  top:628px;
  width:20px;
  height:11px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:23px;
  height:14px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:40px;
  top:640px;
  width:920px;
  height:638px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:639px;
}
#u36 {
  position:absolute;
  left:2px;
  top:311px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:62px;
  top:628px;
  width:20px;
  height:17px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:82px;
  top:744px;
  width:840px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u39_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u40 {
  position:absolute;
  left:141px;
  top:800px;
  width:781px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:101px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:774px;
  top:709px;
  width:29px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:754px;
  top:710px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u45 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:836px;
  top:709px;
  width:30px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:900px;
  top:709px;
  width:28px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:141px;
  top:920px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:774px;
  top:920px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:838px;
  top:920px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:900px;
  top:920px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:82px;
  top:950px;
  width:840px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u58_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u59 {
  position:absolute;
  left:186px;
  top:980px;
  width:639px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:21px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:141px;
  top:1024px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:774px;
  top:1024px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:838px;
  top:1024px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:900px;
  top:1024px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:82px;
  top:1060px;
  width:840px;
  height:166px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:167px;
}
#u70 {
  position:absolute;
  left:2px;
  top:75px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:828px;
  top:1050px;
  width:20px;
  height:10px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#374760;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:830px;
  top:1055px;
  width:18px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u73_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:9px;
  top:-5px;
  width:14px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:18px;
  height:1px;
}
#u74 {
  position:absolute;
  left:102px;
  top:1075px;
  width:800px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:36px;
}
#u75 {
  position:absolute;
  left:2px;
  top:9px;
  width:796px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:102px;
  top:1154px;
  width:800px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u76_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:791px;
  top:-5px;
  width:14px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u77 {
  position:absolute;
  left:102px;
  top:1204px;
  width:800px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u77_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:791px;
  top:-5px;
  width:14px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:800px;
  height:1px;
}
#u78 {
  position:absolute;
  left:142px;
  top:1120px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:182px;
  top:1120px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:21px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:476px;
  top:1120px;
  width:35px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:142px;
  top:1169px;
  width:45px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:196px;
  top:1169px;
  width:365px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:21px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:552px;
  top:1169px;
  width:35px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:21px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:102px;
  top:1120px;
  width:30px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:102px;
  top:1169px;
  width:30px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:41px;
  top:569px;
  width:920px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u94_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:911px;
  top:-5px;
  width:14px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:4px;
  width:920px;
  height:3px;
}
#u95 {
  position:absolute;
  left:40px;
  top:1272px;
  width:920px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u95_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:911px;
  top:-5px;
  width:14px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:4px;
  width:920px;
  height:3px;
}
#u96 {
  position:absolute;
  left:818px;
  top:710px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u97 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:880px;
  top:710px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u99 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:754px;
  top:921px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u101 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:818px;
  top:921px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u103 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:880px;
  top:921px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u105 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:754px;
  top:1024px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u107 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:818px;
  top:1024px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u109 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:880px;
  top:1024px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u111 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:229px;
  top:664px;
  width:551px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:21px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:141px;
  top:662px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:141px;
  top:709px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:484px;
  top:1243px;
  width:34px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:11px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-3px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:484px;
  top:1256px;
  width:36px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u120_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u120_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u120_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u121 {
  position:absolute;
  left:484px;
  top:1252px;
  width:36px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u121_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u121_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u121_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u122 {
  position:absolute;
  left:85px;
  top:170px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u123 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:81px;
  top:314px;
  width:840px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u124_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u124_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u124_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u125 {
  position:absolute;
  left:773px;
  top:279px;
  width:29px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:753px;
  top:280px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u128 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:835px;
  top:279px;
  width:30px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:898px;
  top:279px;
  width:28px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:141px;
  top:490px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:773px;
  top:490px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:836px;
  top:490px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:898px;
  top:490px;
  width:36px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#2A394E;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:81px;
  top:520px;
  width:840px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u141_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u141_end {
  position:absolute;
  left:831px;
  top:-5px;
  width:14px;
  height:20px;
}
#u141_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u142 {
  position:absolute;
  left:816px;
  top:280px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u143 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:878px;
  top:280px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u145 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:753px;
  top:491px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u147 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:816px;
  top:491px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u149 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:878px;
  top:491px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u151 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:229px;
  top:234px;
  width:551px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:21px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:141px;
  top:232px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
}
#u155 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:141px;
  top:279px;
  width:151px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:84px;
  top:593px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u159 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:484px;
  top:540px;
  width:34px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:11px;
}
#u161 {
  position:absolute;
  left:2px;
  top:-3px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:483px;
  top:553px;
  width:36px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u162_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u162_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u162_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u163 {
  position:absolute;
  left:483px;
  top:549px;
  width:36px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u163_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u163_end {
  position:absolute;
  left:27px;
  top:-5px;
  width:14px;
  height:20px;
}
#u163_line {
  position:absolute;
  left:0px;
  top:5px;
  width:36px;
  height:1px;
}
#u164 {
  position:absolute;
  left:39px;
  top:42px;
  width:341px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:46px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:81px;
  top:232px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u167 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:81px;
  top:350px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u169 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:81px;
  top:662px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u171 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:81px;
  top:980px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u173 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:81px;
  top:780px;
  width:50px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u175 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:84px;
  top:1298px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u177 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:84px;
  top:1341px;
  width:16px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u179 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:141px;
  top:980px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:196px;
  top:780px;
  width:718px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:21px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:141px;
  top:780px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:141px;
  top:370px;
  width:781px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:101px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:196px;
  top:350px;
  width:718px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:21px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:141px;
  top:350px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#2A3950;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:240px;
  top:116px;
  width:200px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u193 {
  position:absolute;
  left:2px;
  top:5px;
  width:196px;
  word-wrap:break-word;
}
